flows (5).json
[{"id":"4a64acab.c79ec4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2ab71d91.06c282","type":"inject","z":"4a64acab.c79ec4","name":"what is the cost for entrance","topic":"","payload":"what are the park timings","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":120,"wires":[["373dae84.aedb62"]]},{"id":"373dae84.aedb62","type":"watson-conversation-v1","z":"4a64acab.c79ec4","name":"","workspaceid":"690d0f08-7715-4fb6-b73e-286e27888148","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/a040101c-1574-4630-93b3-19106d152ffc","timeout":"","optout-learning":false,"x":320,"y":180,"wires":[["551b6c77.5ecc14"]]},{"id":"222b55a2.238c3a","type":"watson-speech-to-text","z":"4a64acab.c79ec4","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"NarrowbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"WkAfgqMNh8hbTcawjdXohIUeJYdClowU7BKCzYDMD7kn","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/4ff9e9e9-9e40-4df3-970b-4960526e19d4","x":300,"y":420,"wires":[["db7913c.b30aff"]]},{"id":"551b6c77.5ecc14","type":"function","z":"4a64acab.c79ec4","name":"","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":160,"wires":[["ea849c27.f0f03","9317163f.acc5e8","f963654d.bc6f28"]]},{"id":"ea849c27.f0f03","type":"debug","z":"4a64acab.c79ec4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":140,"wires":[]},{"id":"f963654d.bc6f28","type":"play audio","z":"4a64acab.c79ec4","name":"","voice":"0","x":610,"y":80,"wires":[]},{"id":"7691124f.5b006c","type":"debug","z":"4a64acab.c79ec4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":400,"wires":[]},{"id":"37c0ed97.e53172","type":"ui_form","z":"4a64acab.c79ec4","name":"","label":"","group":"fdc75917.284068","order":0,"width":0,"height":0,"options":[{"label":"User","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":220,"wires":[["ea8a6120.be522"]]},{"id":"ea8a6120.be522","type":"function","z":"4a64acab.c79ec4","name":"","func":"msg.payload=msg.payload.input\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":280,"wires":[["373dae84.aedb62","41e0a9b9.aff0d8"]]},{"id":"41e0a9b9.aff0d8","type":"ui_text","z":"4a64acab.c79ec4","group":"fdc75917.284068","order":1,"width":"15","height":"2","name":"","label":"User","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":260,"wires":[]},{"id":"9317163f.acc5e8","type":"ui_text","z":"4a64acab.c79ec4","group":"fdc75917.284068","order":2,"width":"15","height":"2","name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":200,"wires":[]},{"id":"860d0adb.6b94c8","type":"microphone","z":"4a64acab.c79ec4","name":"","x":110,"y":440,"wires":[["222b55a2.238c3a"]]},{"id":"db7913c.b30aff","type":"function","z":"4a64acab.c79ec4","name":"","func":"msg.payload=msg.transcription\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":360,"wires":[["7691124f.5b006c","373dae84.aedb62","41e0a9b9.aff0d8"]]},{"id":"fdc75917.284068","type":"ui_group","z":"","name":"Default","tab":"a395f285.3b4dc","order":1,"disp":true,"width":"15","collapse":false},{"id":"a395f285.3b4dc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]